<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>lffort_project</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignUpCheck</servlet-name>
    <servlet-class>controller.SignUpCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpCheck</servlet-name>
    <url-pattern>/signupcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>controller.LoginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/logincheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginComplete</servlet-name>
    <servlet-class>controller.LoginComplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginComplete</servlet-name>
    <url-pattern>/logincomplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TodoController</servlet-name>
    <servlet-class>controller.TodoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TodoController</servlet-name>
    <url-pattern>/TodoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailWork</display-name>
    <servlet-name>DetailWork</servlet-name>
    <servlet-class>controller.DetailWork</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailWork</servlet-name>
    <url-pattern>/DetailWork</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>c</servlet-name>
    <servlet-class>controller.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>c</servlet-name>
    <url-pattern>/charData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ChangeProfile</servlet-name>
    <servlet-class>controller.ChangeProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeProfile</servlet-name>
    <url-pattern>/UserChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>controller.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDetail</display-name>
    <servlet-name>ShowDetail</servlet-name>
    <servlet-class>controller.ShowDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDetail</servlet-name>
    <url-pattern>/ShowDetail</url-pattern>
  </servlet-mapping>
</web-app>